<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <title>secret</title>
</head>
<body>
<h1>恭喜你发现了镇站之宝</h1>
<h2>This is admin for bookManage</h2>
<h5>Attention! U mustn't play with this system</h5>
<br/>
<h3 style="color: red">now you can store the book in </h3>
<form name="input" action="/secret/" method="post">
    {% csrf_token %}
    <br/>
    <p>Please input the number of book</p>
    <input type="text" name="book_num">
    <br>
    <p>Please input the name of book</p>
    <input type="text" name="book_name">
    <br>
    <input type="submit" value="Save ^~^">
</form>

<p>We have book now:
{% if book_set %}
    {% for book in book_set %}
        <ul>{{ book.bookNum }}:{{ book.bookName }}</ul>
    {% endfor %}
{% else %}
<p>No book in IEC</p>
{% endif %}
</p>
<h3 style="color: red">Here you can delete the book in the book_db</h3>
<form name="delete" action="/secret/" method="post">
    {% csrf_token %}
    <p>the series number of book</p>
    <input type="text" name="book_delete">
    <input type="submit" value="delete ^~^">
</form>



</body>
</html>